<div class="col-6">
    <h6>BANK DETAILS</h6>
    <small class="f-12  text-muted">(Your earnings will be transfered to this account)</small>
    <div class="form-row  d-flex">

        <div class="input-group mx-3 w-75 d-inline-block">
            <label class="small text-muted">Minimum booking period</label>
            <div class="mb-3 d-flex">
                <select id="state" class="form-control form-select w-100" formControlName="state">
                    <option *ngFor="let state of states" value="state">{{state}}</option>
                </select>
                <select id="state" class="form-control form-select w-100" formControlName="state">
                    <option *ngFor="let state of states" value="state">{{state}}</option>
                </select>
            </div>
        </div>
        <div class="input-group mx-3 w-75 d-inline-block">
            <label class="small text-muted">Minimum pre-booking</label>
            <div class="mb-3 d-flex">
                <select id="state" class="form-control form-select w-100" formControlName="state">
                    <option *ngFor="let state of states" value="state">{{state}}</option>
                </select>
                <select id="state" class="form-control form-select w-100" formControlName="state">
                    <option *ngFor="let state of states" value="state">{{state}}</option>
                </select>
            </div>
        </div>
        <div class="input-group mx-3 w-75 d-inline-block">
            <label class="small text-muted">Reserved Categories</label>
            <select id="state" class="form-control form-select w-100" formControlName="state">
                <option *ngFor="let state of states" value="state">{{state}}</option>
            </select>
        </div>
    </div>
</div>