th{
    font-weight: 400;
    color: lightgray;
}
tr{
    background-color: #fbfafa;
}
td{
    font-size: 14px;
    button {
        background: skyblue;
        border: none;
    }
}
table {
    border-collapse: separate;
    border-spacing: 0 4px;
    border-color: aliceblue;
}
.add-space{
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
.shelf-btn{
    background-color: grey;
    margin-right: 10px;
}
.wall-btn{
    background-color: lightgray;
}
.accept-btn{
    background-color: rgb(173, 237, 253);
    margin-right: 10px;
    color:black;
}