<div class="section">
    <div class="container-fluid">
        <h2 class="mx-4 py-2 border-btm">
            Retailer Registration Form
        </h2>
        <form [formGroup]="userDetailsForm" class="m-4">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div>Registered Name</div>
                            <input formControlName="registeredName" type="text" class="form-control"
                                placeholder="Registered Name">
                        </div>
                        <div class="input-group mb-3">
                            <div>Business Name</div>
                            <input formControlName="businessName" type="text" class="form-control"
                                placeholder="Bussiness Name">
                        </div>
                        <div class="input-group mb-3">
                            <div>Primary Contact Name</div>
                            <input formControlName="primaryContactName" type="text" class="form-control"
                                placeholder="Owners Name">
                        </div>
                        <div class="input-group mb-3">
                            <div>Primary Contact Number</div>
                            <input formControlName="primaryContactNumber" type="text" class="form-control"
                                placeholder="Primary Contact Number">
                        </div>
                        <div class="input-group mb-3">
                            <div>Primary Email Address</div>
                            <input formControlName="primaryEmailAddress" type="text" class="form-control"
                                placeholder="Primary email id">
                        </div>
                        <div class="input-group mb-3">
                            <div>Secondary Contact Name</div>
                            <input formControlName="secondaryContactName" type="text" class="form-control"
                                placeholder="Secondary Contact Name">
                        </div>
                        <div class="input-group mb-3">
                            <div>Secondary Contact Number</div>
                            <input formControlName="secondaryContactNumber" type="text" class="form-control"
                                placeholder="Secondary Contact Number">
                        </div>
                        <div class="input-group mb-3">
                            <div>Secondary Email Address</div>
                            <input formControlName="secondaryEmailAddress" type="text" class="form-control"
                                placeholder="Secondary Email Id">
                        </div>
                        <div class="input-group mb-3">
                            <div>Permanent Account Number (PAN)</div>
                            <input formControlName="pan" type="text" class="form-control" placeholder="PAN No">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-color" (click)="completeRegistration()" type=submit>Complete Registration</button>
        </form>
    </div>
</div>