<div class="section">
    <div class="container-fluid">
        <div>
            <button class="btn btn-color add-space" (click)="addNewSpace()">+ Add More</button>
            <h2 class="mx-4 py-2 border-btm">
                Retailer- First Login
            </h2>
        </div>
        <ng-container *ngFor="let space of spaceFormArray; let i = index">
            <form [formGroup]="space" class="m-4">
                <div class="single-space">
                    <div class="row">
                        <div class="col-6 ">
                            <div class="form-row  d-flex">
                                <div class="input-group mx-3 w-75 d-inline-block">
                                    <label class="small text-muted">Type of spaces</label>
                                    <select id="state" class="form-control form-select w-100" formControlName="shelf">
                                        <option value="">-- Select --</option>
                                        <option *ngFor="let shelf of shelfTypes" value="shelf.id">{{shelf.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="input-group mx-3 w-75 d-inline-block">
                                    <label class="small text-muted">Category</label>
                                    <select id="state" class="form-control form-select w-100"
                                        formControlName="category">
                                        <option value="">-- Select --</option>
                                        <option *ngFor="let category of productCategories" value="category.id">
                                            {{category.name}}</option>
                                    </select>
                                </div>
                                <div class="input-group mx-3 w-75 d-inline-block">
                                    <label class="small text-muted">Area in sqft</label>
                                    <input type="text" id="state" class="form-control w-100" formControlName="state" />
                                </div>
                                <div class="input-group mx-3 w-75 d-inline-block">
                                    <label class="small text-muted">Cost in Rs</label>
                                    <input type="text" id="state" class="form-control w-100" formControlName="state" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-row  d-flex">
                                <div class="input-group mx-3 w-75 d-inline-block">
                                    <label class="small text-muted">Minimum booking period</label>
                                    <div class="mb-3 d-flex">
                                        <select id="state" class="form-control form-select w-100"
                                            formControlName="state">
                                            <option *ngFor="let state of states" value="state">{{state}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-group mx-3 w-75 d-inline-block">
                                    <label class="small text-muted">Minimum pre-booking</label>
                                    <div class="mb-3 d-flex">
                                        <select id="state" class="form-control form-select w-100"
                                            formControlName="state">
                                            <option *ngFor="let state of states" value="state">{{state}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input-group mx-3 w-75 d-inline-block">
                                    <label class="small text-muted">Reserved Categories</label>
                                    <select id="state" class="form-control form-select w-100" formControlName="state">
                                        <option *ngFor="let state of states" value="state">{{state}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>In-store View</label>
                            <div class="col-12 d-flex  ">
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4 bg-grey">

                                    <label>statusby</label>
                                    <span>unlisted</span>
                                </div>
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <button class="btn btn-color" (click)="removeSpace(space,i)">X</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
        <button class="btn btn-color" type=submit (click)="saveSpaces()">Save and Close</button>
    </div>
</div>