<div class="mx-4">
    <div class="mx-4">
        <div>
            <h3 class="add-space">Form-3</h3>
            <h2 class="py-2 border-btm">
                Retailer Confirmed bookings
            </h2>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-color shelf-btn">Shelf</button>
                <button class="btn btn-color wall-btn">Wall</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Custom name of space</th>
                <th scope="col">Status:</th>
                <th scope="col">From:</th>
                <th scope="col">To:</th>
                <th scope="col">Client name:</th>
                <th scope="col">Booking category:</th>
                <th scope="col">Total Amount:</th>
                <th scope="col">Payment:</th>
                <th scope="col">Prohitbited categories</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@twitter</td>
                <td>Jacob</td>
                <td>@fat</td>

            </tr>
        </tbody>
    </table>
    <div class="row d-flex justify-content-end">
        <div class="col-3">
            <button class="btn btn-color mr-2 w-100" type=submit>Add more stores</button>
        </div>

    </div>
</div>