.add-space{
    float: right;
    margin-right: 30px;
}
.blue-btn{
    background-color: #81dfe9;
}
.nav-pills ,.nav-link{
    background-color:#f7f4f4;
    color: grey;
}

.c-w-10{
    width: 10%;
}

.c-w-90{
    width: 90%;
}

.nav-pills .nav-link.active{
    border: 1px solid;
    background-color: chocolate;
}