<table class="table">
    <thead>
        <tr>
            <th scope="col">Store Name</th>
            <th scope="col">Address</th>
            <th scope="col">footfall</th>
            <th scope="col">Est sales/Mo</th>
            <th scope="col">Area in sft</th>
            <th scope="col">No of spaces listed</th>
            <th scope="col">No of spaces Available</th>
            <th scope="col">Next space availabilty</th>
            <th scope="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Otto</td>
            <td>@mdo</td>
            <th scope="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                </div>
            </th>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@fat</td>
            <td>Thornton</td>
            <th scope="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                </div>
            </th>
        </tr>
        <tr>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@twitter</td>
            <td>Jacob</td>
            <th scope="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                </div>
            </th>
        </tr>
    </tbody>
</table>