<div class="section">
    <div class="container-fluid">
        <h2 class="mx-4 py-2 border-btm">
            Retailer- Add Store Details
        </h2>
        <form [formGroup]="storeForm" class="m-4">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-8">
                            <h6>STORE DETAILS</h6>
                            <small class="text-muted">(xxx)</small>

                            <div class="form-group">

                                <div class="input-group mb-3">
                                    <input formControlName="storeName" type="text" class="form-control"
                                        placeholder="Store Name">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="fullAddress" type="text" class="form-control"
                                        placeholder="Full Address">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="managerContactName" type="text" class="form-control" placeholder="managerContactName">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="managerContactNumber" type="text" class="form-control" placeholder="managerContactNumber">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="managerEmailAddress" type="text" class="form-control" placeholder="managerEmailAddress">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="secondaryContactName" type="text" class="form-control" placeholder="secondaryContactName">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="secondaryContactNumber" type="text" class="form-control" placeholder="secondaryContactNumber">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="secondaryEmailAddress" type="text" class="form-control" placeholder="secondaryEmailAddress">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="storeContactNumber" type="text" class="form-control" placeholder="storeContactNumber">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="geoTag" type="text" class="form-control"
                                        placeholder="Geo Tag (google Location)">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="location" type="text" class="form-control"
                                        placeholder="Location">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="city" type="text" class="form-control" placeholder="City">
                                </div>
                                <div class="mb-3">
                                    <select id="state" class="form-control form-select" formControlName="state">
                                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="country" type="text" class="form-control" placeholder="Country">
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="pinCode" type="text" class="form-control"
                                        placeholder="Pin Code">
                                </div>
                                <div class="mb-3">
                                    <select id="areaInSft" class="form-control form-select" formControlName="areaInSft">
                                        <option *ngFor="let areaInSft of areaInSfts" [value]="areaInSft">{{areaInSft}}
                                        </option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <input formControlName="gstin" type="text" class="form-control" placeholder="GSTIN">
                                </div>
                                <div class="mb-3">
                                    <select id="projectedFootfall" class="form-control form-select"
                                        formControlName="projectedFootfallPerMonth">
                                        <option *ngFor="let projectedFootfall of projectedFootfalls" [value]="projectedFootfall">
                                            {{projectedFootfall}}</option>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <select id="estimatedFootfall" class="form-control form-select"
                                        formControlName="estimatedSalesPerMonth">
                                        <option *ngFor="let estimatedFootfall of estimatedFootfalls" [value]="estimatedFootfall">
                                            {{estimatedFootfall}}</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" *ngIf="storeId">
                    <h6>Upload Images</h6>
                    <div class="row">
                        <label>Front View</label>
                        <div class="col-2 m-2">
                            <label>
                                <img src="./assets/front-view.jpg" height="100" width="100">
                                <!-- <input id="fileUpload" type="file" (change)="onSelectFile($event)" class="d-none"> -->
                            </label>
                        </div>
                        <div class="col-2 m-2 ">
                            <label>
                                <img src="./assets/plus.png" height="100" width="100" class="border border-1 rounded">
                                <input id="fileUpload7" type="file" (change)="onSelectFile($event)" class="d-none">
                            </label>
                        </div>
                        <div class="col-2 m-2">
                            <label>
                                <img src="./assets/plus.png" height="100" width="100" class="border border-1 rounded">
                                <input id="fileUpload8" type="file" (change)="onSelectFile($event)" class="d-none">
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <label>In-store View</label>
                        <div class="col-2 m-2">
                            <label>
                                <img src="./assets/retail.jpg" height="100" width="100">
                                <input id="fileUpload4" type="file" (change)="onSelectFile($event)" class="d-none">
                            </label>
                        </div>
                        <div class="col-2 m-2">
                            <label>
                                <img src="./assets/plus.png" height="100" width="100" class="border border-1 rounded">
                                <input id="fileUpload5" type="file" (change)="onSelectFile($event)" class="d-none">
                            </label>
                        </div>
                        <div class="col-2 m-2">
                            <label>
                                <img src="./assets/plus.png" height="100" width="100" class="border border-1 rounded">
                                <input id="fileUpload6" type="file" (change)="onSelectFile($event)" class="d-none">
                            </label>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <label>Gantola View</label>
                        <div class="col-2 m-2">
                            <label>
                                <img src="./assets/godhala.jpg" height="100" width="100">
                                <input id="fileUpload1" type="file" (change)="onSelectFile($event)" class="d-none">
                            </label>
                        </div>
                        <div class="col-2 m-2">
                            <label>
                                <img src="./assets/plus.png" height="100" width="100" class="border border-1 rounded">
                                <input id="fileUpload2" type="file" (change)="onSelectFile($event)" class="d-none">
                            </label>
                        </div>
                        <div class="col-2 m-2">
                            <label>
                                <img src="./assets/plus.png" height="100" width="100" class="border border-1 rounded">
                                <input id="fileUpload3" type="file" (change)="onSelectFile($event)" class="d-none">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <!-- <div class="col-4">
                        <button class="btn btn-color mr-2 w-100" type=submit (click)="addSpaces()">Add Ad spaces</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-color mr-2 w-100" type=submit>Add more store </button>
                    </div> -->
                    <div class="col-4" *ngIf="!storeId">
                        <button class="btn btn-color mr-2 w-100" type=submit (click)="saveStoreDetails()">Save</button>
                    </div>
                    <div class="col-4" *ngIf="storeId">
                        <button class="btn btn-color mr-2 w-100" type=submit (click)="close()">Close</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>