th{
    font-weight: 400;
    color: lightgray;
}
tr{
    background-color: #fbfafa;
}
td{
    font-size: 14px;
    button {
        background: skyblue;
        border: none;
    }
}
table {
    border-collapse: separate;
    border-spacing: 0 4px;
    border-color: aliceblue;
}