<form [formGroup]="userDetailsForm" class="m-4" style="
    width: 300px;">
    <div class="form-group">
        <h6>YOUR DETAILS</h6>
        <small class="text-muted">(xxx)</small>
        <div class="input-group mb-3">
            <input formControlName="bussinessName" type="text" class="form-control"
                placeholder="Bussiness Name">
        </div>
        <div class="input-group mb-3">
            <input formControlName="primaryContactName" type="text" class="form-control"
                placeholder="Primary Contact Name">
        </div>
        <div class="input-group mb-3">
            <input formControlName="primaryContactNumber" type="text" class="form-control"
                placeholder="Primary Contact Number">
        </div>
        <div class="input-group mb-3">
            <input formControlName="primaryEmailid" type="text" class="form-control" 
            placeholder="Primary emailid">
        </div>
        <div class="input-group mb-3">
            <input formControlName="secondaryContactName" type="text" class="form-control"
                placeholder="Secondary Contact Name">
        </div>
        <div class="input-group mb-3">
            <input formControlName="secondaryContactNumber" type="text" class="form-control"
                placeholder="Secondary Contact Number">
        </div>
        <div class="input-group mb-3">
            <input formControlName="secondaryEmailId" type="text" class="form-control"
                placeholder="Secondary Email Id">
        </div>
        <div class="input-group mb-3">
            <input formControlName="pANNo" type="text" class="form-control" placeholder="PAN No">
        </div>
        <div class="input-group mb-3">
            <input formControlName="gstNo" type="text" class="form-control"
                placeholder="GST NO">
        </div>
        
    </div>
</form>