<div class="mx-4">
    <div class="mx-4">
        <h2 class="py-2 border-btm">
            Retailer- Stores/ branches
        </h2>
        <h5>Store Details</h5>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Store Name</th>
                <th scope="col">Location</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Area</th>
                <th scope="col">Pictures</th>
                <th scope="col">Shelf Space</th>
                <th scope="col">Wall Space</th>
                <th scope="col">Total Bookings</th>
                <th scope="col">Total Revenues</th>
                <th scope="col">End Of Engagement</th>
                <th scope="col">Ad spaces</th>
                <th scope="col">Bookings</th>
                <th scope="col">More</th>
                <!-- <th scope="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                </div>
            </th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let store of storesList; let i=index">
                <td>{{store.storeName}}</td>
                <td>{{store.location}}</td>
                <td>{{store.city}}</td>
                <td>{{store.state}}</td>
                <td>{{store.storeAreaInSft}}</td>
                <td>{{store.storeName}}/8</td>
                <td>{{store.shelfTypeBookingDetails}}</td>
                <td>{{store.storeName}}</td>
                <td>{{store.totalBookingsInStore}}</td>
                <td>{{store.totalRevenueAmountFromStore}}</td>
                <td>{{store.endOfEngagementDate}}</td>
                <td><button (click)="editSpace(store.storeId)">Manage</button></td>
                <td><button (click)="editBookings(store.storeId)">View</button></td>
                <td><button (click)="editStore(store.storeId)">View</button></td>
                <!-- <th scope="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                </div>
            </th> -->
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@fat</td>
                <td>Thornton</td>
                <td><button (click)="editSpace(2)">Manage</button></td>
                <td><button (click)="editBookings(2)">View</button></td>
                <td><button (click)="editStore(2)">View</button></td>
                <!-- <th scope="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                </div>
            </th> -->
            </tr>
        </tbody>
    </table>
    <div class="row d-flex justify-content-end">
        <div class="col-2">
            <button class="btn btn-color mr-2 w-100" type=submit (click)="addStore()">Add more store </button>
        </div>
        <!-- <div class="col-2">
            <button class="btn btn-color mr-2 w-100" type=submit>Save & close</button>
        </div> -->
    </div>
</div>