<div class="section">
    <div class="container-fluid">
        <div>
            <button class="btn btn-color add-space" [disabled]="isAddMoreDisable" (click)="addNewSpace()">+ Add
                More</button>
            <h2 class="mx-4 py-2 border-btm">
                Retailer- First Login
            </h2>
        </div>
        <ng-container *ngFor="let space of spaceFormArray; let i = index">
            <form [formGroup]="space" class="m-4">
                <div class="single-space">
                    <div class="row">
                        <div class="col-6 ">
                            <div class="form-row  d-flex">
                                <div class="input-group px-1 w-25 d-inline-block">
                                    <label class="small text-muted">Type of spaces</label>
                                    <select id="state" class="form-control form-select w-100"
                                        formControlName="shelfTypeId"
                                        [attr.disabled]="!space.value.isEditClicked ? true : null">
                                        <option [value]="">-- Select --</option>
                                        <option *ngFor="let shelf of shelfTypes" [value]="shelf.id">{{shelf.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="input-group px-1 w-25 d-inline-block">
                                    <label class="small text-muted">Category</label>
                                    <select id="state" class="form-control form-select w-100"
                                        formControlName="currentCategory"
                                        [attr.disabled]="!space.value.isEditClicked ? true : null">
                                        <option value="">-- Select --</option>
                                        <option *ngFor="let category of productCategories" [value]="category.id">
                                            {{category.name}}</option>
                                    </select>
                                </div>
                                <div class="input-group px-1 w-25 d-inline-block">
                                    <label class="small text-muted">Area in sqft</label>
                                    <input type="text" id="state" class="form-control w-100" formControlName="areaInSft"
                                        [attr.disabled]="!space.value.isEditClicked ? true : null" />
                                </div>
                                <div class="input-group px-1 w-25 d-inline-block">
                                    <label class="small text-muted">Cost in Rs</label>
                                    <input type="text" id="state" class="form-control w-100"
                                        formControlName="costPerSft"
                                        [attr.disabled]="!space.value.isEditClicked ? true : null" />
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-row  d-flex">
                                <div class="input-group mx-1 w-25 d-inline-block">
                                    <label class="small text-muted">Minimum booking period</label>
                                    <div class="mb-3 d-flex">
                                        <input type="text" id="state" class="form-control w-100"
                                            formControlName="minimumBookingPeriodInDays"
                                            [attr.disabled]="!space.value.isEditClicked ? true : null" />
                                        <!-- <select id="state" class="form-control form-select w-100"
                                            formControlName="minimumBookingPeriodInDays">
                                            <option *ngFor="let state of states" [value]="state">{{state}}</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="input-group mx-1 w-25 d-inline-block">
                                    <label class="small text-muted">Minimum pre-booking</label>
                                    <div class="mb-3 d-flex">
                                        <input type="text" id="state" class="form-control w-100"
                                            formControlName="preBookingPeriodInDays"
                                            [attr.disabled]="!space.value.isEditClicked ? true : null" />
                                        <!-- <select id="state" class="form-control form-select w-100"
                                            formControlName="preBookingPeriodInDays">
                                            <option *ngFor="let state of states" [value]="state">{{state}}</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="input-group mx-1 w-25 d-inline-block">
                                    <label class="small text-muted">Prohibited Categories</label>
                                    <select id="state" class="form-control form-select w-100"
                                        formControlName="prohibitedCategories"
                                        [attr.disabled]="!space.value.isEditClicked ? true : null">
                                        <option *ngFor="let cat of productCategories" [value]="cat.name">{{cat.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label class="small text-muted">Add pictures</label>
                            <div class="col-12 d-flex  px-0 pic-grid">
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                                <div class="col-1 m-2">
                                    <label>
                                        <img src={{url}} height="50" width="50" class="border border-1 rounded">
                                        <input id="fileUpload" type="file" (change)="onSelectFile($event)"
                                            class="d-none">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5 bg-grey">
                                    <label class="small text-muted">Custom Name</label>
                                    <input type="text" id="state" class="form-control w-100"
                                        formControlName="customName"
                                        [attr.disabled]="!space.value.isEditClicked ? true : null" />
                                </div>
                                <div class="col-3 bg-grey" *ngIf="space.value.shelfId">
                                    <label class="small text-muted">Status</label>
                                    <select id="status" class="form-control form-select w-100"
                                        formControlName="isActive"
                                        [attr.disabled]="!space.value.isEditClicked ? true : null">
                                        <option [selected]="space.value.isActive" [value]="true">Available</option>
                                        <option [selected]="!space.value.isActive" [value]="false">Blocked</option>
                                    </select>
                                </div>
                                <div class="col-7 d-grid justify-content-end" *ngIf="space.value.isEditClicked">
                                    <button class="btn blue-btn mb-2" (click)="saveSpace(space,i)">Save</button>
                                    <button class="btn blue-btn " (click)="cancel(space,i)">X</button>
                                </div>
                                <div class="col-7 d-grid justify-content-end" *ngIf="!space.value.isEditClicked">
                                    <button class="btn blue-btn mb-2" (click)="editSpace(space,i)">edit</button>
                                    <button class="btn blue-btn " (click)="deleteSpace(space, i)">delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
        <button class="btn btn-color float-right mr-3" type=submit (click)="close()">Save and close</button>
    </div>
</div>