 .add-space{
     float: right;
     margin-right: 30px;
     background-color: #54aded;
 }
 .single-space{
    border: 1px solid #cee;
    padding: 12px;
    margin-bottom: 10px;
 }
 .pic-grid{
     margin-left:-20px;
 }
 .blue-btn{
     background-color: #54aded;
     color: #fff;
 }